@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #EFEEEA;
    min-height: 100vh;
    font-family: "Courier Prime", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 15rem;
    background-color: #FE7743;
}

h1 {
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


th {
    padding: 1rem;
}

td {
    padding: 0 1rem;
}


table {
    border-spacing: 1rem;
}

thead {
    background-color: #273F4F;
    color:#EFEEEA;
}



button {
    background-color: #FE7743;
    font-family: "Courier Prime", monospace;
    padding: 0.3rem 0.7rem;
    border-style: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.header-button, .submit-button{
    background-color: #273F4F;
    color: #EFEEEA;
}


.book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




